@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --background-tile: #000;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

p{
    margin-top: 5px;
}

img {
    max-width: 3vw;
    max-height: 3vw;
}

.grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8,5vw);
    grid-template-rows: repeat(8,5vw);
    width: fit-content;
    border: 3px solid #000;
    box-shadow: 0 5px 8px #777;
    margin: 0 auto;
}

.grid b {
    font-size: calc(2vw);
    padding-top: 1vw;
    text-align: center;
}

.grid b:nth-child(-n+8):nth-child(even) {
    background: var(--background-tile);
}

.grid b:nth-child(n+8):nth-child(-n+16):nth-child(odd) {
    background: var(--background-tile);
}

.grid b:nth-child(n+17):nth-child(-n+24):nth-child(even) {
    background: var(--background-tile);
}

.grid b:nth-child(n+25):nth-child(-n+32):nth-child(odd) {
    background: var(--background-tile);
}

.grid b:nth-child(n+33):nth-child(-n+40):nth-child(even) {
    background: var(--background-tile);
}

.grid b:nth-child(n+41):nth-child(-n+48):nth-child(odd) {
    background: var(--background-tile);
}

.grid b:nth-child(n+49):nth-child(-n+56):nth-child(even) {
    background: var(--background-tile);
}

.grid b:nth-child(n+57):nth-child(-n+64):nth-child(odd) {
    background: var(--background-tile);
}

img:hover {
    transform: scale(1.5);
}

a {
    text-decoration: none;
}
a:hover {
    color: red;
}